<div class="lds-roller" *ngIf="loadingIndicator">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<section class="header desktop-header pull-left w-100">
  <div class="container" *ngIf="mobileMenuOpen">
    <div class="row">
      <header class="pull-left w-100">
        <div class="header-left">
          <a routerLink="/" class="logoid"><img src="./assets/images/main_logo.png" alt="Tarang Plus"
              title="Tarang Plus"></a>
          <nav class="d-none d-xl-block pull-left">
            <ul class="list-none padding-left-0 margin-bottom-0 pull-left w-100">
              <li *ngFor="let m of header_tabs; let i = index;">
                <ng-container *ngIf="m['display_title'] != 'Movies' && m['display_title'] != 'Jatras'">
                  <a routerLink="{{m['display_title'].toLowerCase() == 'all' ? '/' : m['home_link']}}" 
                  routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact:true}" class="oriya-color1" id="{{m['home_link']}}">
                    {{m['display_title'].toLowerCase() == "all" ? "Home" : m['display_title']}}
                  </a>
                 </ng-container>
              </li>
              <li><a routerLink="/livetv" routerLinkActive="active-menu" class="oriya-color1" id="livetv">Live TV</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-right d-none d-xl-block relative-content" (clickElsewhere)="closeLangMenu()">
          <div class="search-wrap">
            <!-- <input type="search" name="" placeholder="Search" class="search_box"> -->  
            <a routerLink="search"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
          <!-- <a data-target="#register_pop" data-toggle="modal" class="text-uppercase login"href="#register_pop">LogIn</a> -->
          <a href="javascript:void(0);" class="language-menu" (click)="toggleLangOptions();">
            <i class="fa fa-language" aria-hidden="true"></i>
          </a>
          <a routerLink="/plans"  class="text-uppercase login" id="" routerLinkActive="active-menu">Plans</a>
          <a href="javascript:void(0);" class="text-uppercase before_login login" id="user_login"
            (click)="showPop('signin_pop');" *ngIf="!loginStatus">LogIn</a>
          <a href="javascript:void(0);" class="text-uppercase after_login" *ngIf="loginStatus"
            (click)="toggleUserAccountMenu($event);" (clickElsewhere)="closeAccountMenu()">
            <img src="./assets/images/profile.svg" alt="" title="">
          </a>
          <ul class="list-none margin-bottom-0 pull-left account-menu" *ngIf="userAccountMenu">
            <li class="pull-left w-100"><a routerLink="/users/account_details" class="account_det oriya-color1" id="">Account
                Details</a></li>
            <li class="pull-left w-100"><a routerLink="/users/watchlist" class="watch_list oriya-color1" id="">Watchlist</a>
            </li>
            <li class="pull-left w-100"><a routerLink="/users/favourites" class="watch_list oriya-color1" id="">Favourites</a>
            </li>
            <li class="pull-left w-100" *ngIf="continueWatchLength > 0"><a class="clear_watch_his oriya-color1 clear_watch"
                id="" (click)="showPop('delete_watch')" >Clear Watch History</a></li>
            <li class="pull-left w-100"><a routerLink="/plans" class="oriya-color1" id="">My Plans</a></li>
            <li class="pull-left w-100"><a href="javascript:void(0)" class="account_url oriya-color1 logout_link"
              (click)="showPop('logout_pop')">Logout</a></li>
          </ul>
          <ul class="list-none margin-bottom-0 pull-left language-options" *ngIf="langOptions">
            <li class="pull-left w-100" *ngFor="let item of languageOptions;">
              <input type="radio" id="{{item.name}}" class="lang_sel" name="language" value="{{item.value}}" [(ngModel)]="radioSelected" (change)="onLangChange(item.value)" [checked]="item.value == language">              
              <label for="{{item.name}}">{{item.name}}</label>              
            </li>            
          </ul>
        </div>
        <div class="header-right mobile-header-right d-block d-xl-none">
          <div class="search-wrap">
            <a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a>
          </div>
          <a href="javascript:void(0);" class="pull-left text-uppercase language-menu" (click)="mobileToggle('langMenu')">
            <i class="fa fa-language" aria-hideen="true"></i>
          </a>
          <a href="javascript:void(0);" class="pull-left text-uppercase mobile_user_account_menu" (click)="mobileToggle('profileMenu')">
            <img src="./assets/images/profile.svg" alt="" title="">
          </a>
          <a href="javascript:void(0);" class="text-uppercase mobile-menu-nav" (click)="mobileToggle('mobileMenu')">
            <img src="./assets/images/menu.svg" alt="" title="">
          </a>
        </div>
      </header>
    </div>
  </div>
  <div class="mobile_slider_menu" id="navbarCollapseMobile" *ngIf="mobileMenu">
		<div class="container">	
			<div class="row">	
				<header class="pull-left w-100 padding-left-0 padding-right-0">
					<div class="open-logo pull-left w-100">
						<div class="pull-left w-100 padding-left-10 padding-right-10">
							<a href="/" class="pull-left"><img src="./assets/images/main_logo.png" alt="odiyatv" title="odiyatv"></a>
				      <i class="fa fa-times pull-right" aria-hidden="true" (click)="closeMobileMenu()"></i>
				    </div>
				  </div>  
			    <nav class="pull-left w-100 padding-left-10 padding-right-10">
						<ul class="list-none padding-left-0 margin-bottom-0 pull-left w-100">
							
              <li *ngFor="let mob of header_tabs; let i = index;">
                <ng-container *ngIf="mob['display_title'] != 'Movies' && mob['display_title'] != 'Jatras'">
                  <a routerLink="{{mob['display_title'].toLowerCase() == 'all' ? '/' : '/'+mob['home_link']}}" class="oriya-color1" id="{{mob['home_link']}}_mobile">{{mob['display_title']}}</a>
                </ng-container>  
              </li>
							 <li><a href="/livetv" class="oriya-color1" id="livetv_mobile">Live TV</a></li>
						</ul>
					</nav>
					<a routerLink="/plans" class="pull-left text-uppercase mobile-login" id="">Plans</a>
					<a href="javascript:void(0);" class="pull-left text-uppercase mobile-login">Login</a>
				</header>
			</div>
		</div>		
					
  </div>
  <div class="mobile_slider_menu" id="navbarCollapseAccount" *ngIf="profileMenu">
		<div class="container">	
			<div class="row">	
				<header class="pull-left w-100 padding-left-0 padding-right-0">
					<div class="open-logo pull-left w-100">
						<div class="pull-left w-100 padding-left-10 padding-right-10">
							<a href="/" class="pull-left"><img src="./assets/images/main_logo.png" alt="odiyatv" title="odiyatv"></a>
				      <i class="fa fa-times pull-right" aria-hidden="true" (click)="closeMobileMenu()"></i>
				    </div>
				  </div>  
			    <nav class="pull-left w-100 padding-left-10 padding-right-10">
						<ul class="list-none padding-left-0 margin-bottom-0 pull-left w-100">
							<li class="pull-left w-100"><a routerLink="/users/account_details" class="oriya-color1" id="">Account Details</a></li>
							<li class="pull-left w-100"><a routerLink="/users/watchlist" class="oriya-color1" id="">Watchlist</a></li>
							<li class="pull-left w-100"><a href="javascript:void(0)" class="oriya-color1 clear_watch" id="" (click)="showPop('delete_watch')"  *ngIf="continueWatchLength > 0">Clear Watch History</a></li>
							<li class="pull-left w-100"><a routerLink="/plans" class="oriya-color1" id="">My Plans</a></li>
							<li class="pull-left w-100"><a href="javascript:void(0)" class="oriya-color1 logout_link" (click)="userLogoutPop('logout_pop')">Logout</a></li>
						</ul>
					</nav>
					
				</header>
			</div>
		</div>		
					
  </div>
  
	<div class="mobile_slider_menu" id="navbarCollapseLanguage" *ngIf="langMenu">
		<div class="container">	
			<div class="row">	
				<header class="pull-left w-100 padding-left-0 padding-right-0">
					<div class="open-logo pull-left w-100">
						<div class="pull-left w-100 padding-left-10 padding-right-10">
							<a href="/" class="pull-left"><img src="./assets/images/main_logo.png" alt="odiatv" title="odiatv"></a>
				      <i class="fa fa-times pull-right" aria-hidden="true" (click)="closeMobileMenu()"></i>
				    </div>
				  </div>  
			    <nav class="pull-left w-100 padding-left-10 padding-right-10">
						<ul class="list-none padding-left-0 margin-bottom-0 pull-left w-100">
							<li>
								<input type="radio" id="mobile_english" name="mobile_language_options" checked>
								<label for="mobile_english">English</label>		
							</li>
							<li>
								<input type="radio" id="mobile_odia" name="mobile_language_options">
								<label for="mobile_odia">Odia</label>								
							</li>
						</ul>
					</nav>
					
				</header>
			</div>
		</div>		
					
  </div>
</section>
<div class="modal-backdrop show" [ngStyle]="{'display': displayPopStatus}"></div>
<!-- <div class="modal" id="signin_pop" *ngIf="selectedPop == 'signin_pop' || selectedPop == undefined || selectedPop != '' " [ngStyle]="{'display': displayPopStatus}"> -->
<div class="modal" id="signin_pop">  
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
        <h1 class="pull-left margin-bottom-10 font-semibold w-100 text-center page-title">Login</h1>
        <img src="./assets/images/cancel.svg" alt="" title="" id="signin_close" (click)="closePop('loginform');">
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-0">
            <ul class="nav nav-pills pull-left w-100 text-center user_login_tab center-align-content">
              <li><a data-toggle="pill" href="#EmailSignIn" id="email" class="EmailSignInLink active" (click)="tabChange('emaillogin')">Email Id</a></li>
              <li><a data-toggle="pill" href="#MobileNoSignIn" id="mobile" class="MobileNoSignInLink" (click)="tabChange('mobilelogin')">Mobile No.</a>
              </li>
            </ul>
            <div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">
              <div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0">
                  <label class="error" id="signin_resp_error_msg"
                    *ngIf="errorStatus">{{statusMessage}}</label>
                </div>
                <div id="EmailSignIn" class="tab-pane fade in active">
                  <form #emailLoginForm="ngForm" (ngSubmit)="onUserEmailLogin(userEmailLogin)">
                    
                    <div class="input-group"
                      [ngClass]="{ 'has-error': login_email.touched && login_email.invalid }">
                      <input type="text" id="login_email" name="login_email" #login_email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-0-.]+$"
                        [(ngModel)]="userEmailLogin.login_email" class="form-control" required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': login_email.touched && login_email?.value?.length > 0 }">Email Id</span>
                      <label class="error" id="login_email_error"
                        *ngIf="login_email.touched && login_email?.value?.length < 1 || login_email?.value?.length < 1 && userEmailLoginInvalid.login_email">Please enter the email id</label>
                      <label class="error" id="login_email_error"
                        *ngIf="login_email.invalid && login_email.touched && login_email?.value?.length > 0">Email is invalid </label>
                    </div>
                    <div class="input-group hide_password_group signup_password_us"
                      [ngClass]="{ 'has-error': login_email_password.touched && login_email_password.invalid }">
                      <input [type]="showPassword ? 'text' : 'password'" id="login_email_password"
                        name="login_email_password" class="form-control login_email_pwd" minlength="6" maxlength="20"
                        value="" #login_email_password="ngModel" [(ngModel)]="userEmailLogin.login_email_password"
                        (focus)="focusEmailLogin()" required>
                      <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide confirm password"
                        title="hide confirm password" *ngIf="!showPassword" (click)="togglePassword();">
                      <img src="./assets/images/show_password.svg" class="password_toggle show_pwd"
                        alt="show confirm password" title="show confirm password" *ngIf="showPassword"
                        (click)="togglePassword();">
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': login_email_password.touched && login_email_password?.value?.length > 0 }">Password</span>
                      <label class="error" id="login_email_pwd_error"
                        *ngIf=" login_email_password.touched && login_email_password?.value?.length < 1 || login_email_password?.value?.length < 1 && userEmailLoginInvalid.login_email_password">Please enter the
                        password</label>
                      <!-- <label class="error" id="signin_resp_error_msg" *ngIf="errorStatus">Please enter the password</label> -->
                      <label class="error" id="login_email_pwd_error"
                        *ngIf="login_email_password.invalid && login_email_password.touched && login_email_password?.value?.length > 0">Password Minimum
                        length is 6 characters</label>
                    </div>
                    <div class="text-center margin-bottom-15 margin-top-25 pull-left w-100 light">
                      <input type="submit" class="text-uppercase btn-oria btn-oria-big login_sub" id="" value="Login">
                    </div>
                    <div class="text-center margin-bottom-10 margin-top-20 pull-left w-100 form_bottom">
                      <a
                        class="inline-block text-uppercase margin-bottom-15 font-semibold forgot_pass_tag margin-bottom-30 oriya-color4 "
                        id="forgot_pass_email" (click)="showPop('forgot_password_pop', 'loginform')">forgot password ?</a>
                    </div>
                    <div class="text-center margin-bottom-25 margin-top-0 pull-left w-100 form_bottom">
                      <span>Not a member?</span>
                      <a href="javascript:void(0)" id="user_register1"
                        class="inline-block text-uppercase oriya-color4 reg_user"
                        (click)="showPop('register_pop', 'loginform');">&nbsp;Register</a>
                    </div>
                    
                   
                  </form>
                </div>
                <div id="MobileNoSignIn" class="tab-pane fade">
                  <form #mobileNoLoginForm="ngForm" (ngSubmit)="onUserMobileLogin(userMobileLogin)">
                    <div class="input-group country"
                      [ngClass]="{ 'has-error': login_mobile.touched && login_mobile.invalid }">
                      <!-- <input type="text" name="country_code" class="form-control country_code" value="+91"
                        readonly="true" *ngIf="countryCodeStatus"> -->
                      <input type="text" name="country_code" class="country_code form-control" value="+91" readonly *ngIf="countryCodeStatus">
                      <input type="number" id="login_mobile" name="login_mobile" class="form-control"
                        pattern="^[0-9_-]{10}$" #login_mobile="ngModel" [(ngModel)]="userMobileLogin.login_mobile"
                        (focus)="focusCountryLogin();" (focusout)="focusOutCountryLogin($event)" required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': login_mobile.touched && login_mobile?.value?.length > 0 }">Mobile
                        Number</span>
                      <!-- <label class="error" id="signin_resp_error_msg" *ngIf="errorStatus">Please enter mobile number</label> -->
                      <label class="error" id="login_mobile_error"
                        *ngIf="login_mobile.touched && login_mobile?.value?.length < 1 ||login_mobile?.value?.length < 1 && userMobileLoginInvalid.login_mobile">Please enter your Mobile
                        Number </label>
                      <label class="error" id="mobile_error"
                        *ngIf="login_mobile.invalid && login_mobile.touched && login_mobile?.value?.length > 0">
                        Please enter 10 digit mobile number
                      </label>
                    </div>
                    <div class="input-group hide_password_group signup_password_us"
                      [ngClass]="{ 'has-error': user_mob_password.touched && user_mob_password.invalid }">
                      <input [type]="showPassword ? 'text' : 'password'" id="user_mob_password" name="user_mob_password"
                        class="form-control login_mobile_pwd" minlength="6" maxlength="20" value=""
                        #user_mob_password="ngModel" [(ngModel)]="userMobileLogin.user_mob_password"
                        (focus)="focusMobileLogin();" required>
                      <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide confirm password"
                        title="hide confirm password" *ngIf="!showPassword" (click)="togglePassword();">
                      <img src="./assets/images/show_password.svg" class="password_toggle show_pwd"
                        alt="show confirm password" title="show confirm password" *ngIf="showPassword"
                        (click)="togglePassword();">
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': user_mob_password.touched && user_mob_password?.value?.length > 0 }">Password</span>
                      <!-- <label class="error" id="signin_resp_error_msg" *ngIf="errorStatus">Please Enter Password</label> -->
                      <label class="error" id="login_mobile_pwd_error"
                        *ngIf="user_mob_password.touched && user_mob_password?.value?.length < 0 || user_mob_password?.value?.length < 0 && userMobileLoginInvalid.user_mob_password">Please enter the
                        password</label>
                      <label class="error" id="login_mobile_pwd_error"
                        *ngIf="user_mob_password.minlength && user_mob_password.touched && user_mob_password?.value?.length > 0">Password Minimum
                        length is 6 characters</label>
                    </div>
                    <div class="text-center margin-bottom-15 margin-top-25 light pull-left w-100">
                      <input type="submit" class="text-uppercase btn-oria btn-oria-big  login_sub"
                        id="user_email_signin" value="Login">
                    </div>
                    <div class="text-center margin-bottom-10 margin-top-20 pull-left w-100 form_bottom">
                      <a href="javascript:void(0);"
                        class="inline-block text-uppercase margin-bottom-15 font-semibold forgot_pass_tag margin-bottom-30 oriya-color4 "
                        id="forgot_pass_email" (click)="showPop('forgot_password_pop', 'loginform')">forgot password ?</a>
                    </div>
                    <div class="text-center margin-bottom-25 margin-top-0 pull-left w-100 form_bottom">
                      <span>Not a member?</span>
                      <a href="javascript:void(0)" id="user_register"
                        class="inline-block text-uppercase oriya-color4 reg_user"
                        (click)="showPop('register_pop', 'loginform');">&nbsp;Register</a>
                    </div>
                    <!-- <div class="margin-bottom-20 margin-top-10 pull-left w-100 form_bottom center-align-content">
                    <a href="/auth/facebook" class="facebook_login"><img src="/assets/facebook_login" class="pull-left margin-right-15">Login with Facebook</a>
                  </div>   -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- signin_pop ends -->
<!-- <div class="modal" id="register_pop" *ngIf="selectedPop == 'register_pop' " [ngStyle]="{'display': displayPopStatus}"> -->
<div class="modal" id="register_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
        <h1 class="pull-left margin-bottom-10 font-semibold w-100 text-center page-title">Register</h1>
        <img src="./assets/images/cancel.svg" alt="" title="" id="register_close" (click)="closePop('registerform');">
      </div>

      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-0">
            <ul class="nav nav-pills pull-left w-100 text-center user_register_tab_select center-align-content">
              <li><a data-toggle="pill" href="#EmailTab" id="email" class="EmailTabLink active" (click)="tabChange('emaillregister')">Email Id</a></li>
              <li><a data-toggle="pill" href="#MobileNoTab" class="MobileNoTabLink" id="phone" (click)="tabChange('mobileregister')">Mobile No.</a></li>
            </ul>
            <div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">
              <div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">
                <div class="w-100 all_error padding-left-30 padding-right-30">                    
                  <label class="error" id="signup_resp_error_msg" *ngIf="errorStatus">{{statusMessage}}</label>
                </div>
                <div id="EmailTab" class="tab-pane fade in active">
                  <form #emailRegisterForm="ngForm" (ngSubmit)="onUserEmailRegister(userEmailRegister)">
                    <div class="input-group"
                      [ngClass]="{ 'has-error': register_name.touched && register_name.invalid }">
                      <input type="text" id="register_name" name="register_name" #register_name="ngModel"
                        [(ngModel)]="userEmailRegister.register_name" class="form-control reg_email_name" value=""
                        required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': register_name.touched && register_name?.value?.length > 0 }">Full
                        Name</span>
                      <label class="error name_error" id="register_name_error"
                        *ngIf="register_name.touched && register_name?.value?.length < 1 ||register_name?.value?.length < 1 && userEmailRegisterInvalid.register_name">Please Enter Full Name</label>
                    </div>
                    <div class="input-group signup_email_us us_show"
                      [ngClass]="{ 'has-error': user_register_email.touched && user_register_email.invalid }">
                      <input type="email" id="user_register_email" name="user_register_email"
                        #user_register_email="ngModel" [(ngModel)]="userEmailRegister.user_register_email"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-0-.]+$" class="form-control" value=""
                        required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': user_register_email.touched && user_register_email?.value?.length > 0 }">Email
                        ID</span>
                      <label class="error" id="register_email_error"
                        *ngIf="user_register_email.touched && user_register_email?.value?.length < 1 ||user_register_email?.value?.length < 1 && userEmailRegisterInvalid.user_register_email">Please enter Email Id</label>
                      <label class="error" id="register_email_error2"
                        *ngIf="user_register_email.invalid && user_register_email.touched && user_register_email?.value?.length > 0">Email is invalid
                      </label>
                    </div>
                    <div class="input-group hide_password_group signup_password_us"
                      [ngClass]="{ 'has-error': register_password.touched && register_password.invalid }">
                      <input [type]="showPassword ? 'text' : 'password'" id="register_password" name="register_password"
                        #register_password="ngModel" [(ngModel)]="userEmailRegister.register_password"
                        class="form-control reg_email_pwd" minlength="6" maxlength="20" value="" required>
                      <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide confirm password"
                        title="hide confirm password" *ngIf="!showPassword" (click)="togglePassword();">
                      <img src="./assets/images/show_password.svg" class="password_toggle show_pwd"
                        alt="show confirm password" title="show confirm password" *ngIf="showPassword"
                        (click)="togglePassword();">
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': register_password.touched && register_password?.value?.length > 0 }">Password</span>
                      <label class="error" id="register_pw_error"
                        *ngIf="register_password.touched && register_password?.value?.length < 1 || register_password?.value?.length < 1 && userEmailRegisterInvalid.register_password">Password can't be
                        blank</label>
                      <label class="error" id="register_pw_error"
                        *ngIf="register_password.invalid && register_password.touched && register_password?.value?.length > 0">Minimum length of 6
                        characters is mandatory</label>
                    </div>
                    <div class="input-group custom-controls d-block margin-bottom-15"
                      [ngClass]="{ 'has-error': email_agree_terms.touched && email_agree_terms.invalid }">
                      <input type="checkbox" id="email_agree_terms" name="email_agree_terms"
                        #email_agree_terms="ngModel" [(ngModel)]="userEmailRegister.email_agree_terms" required>
                      <label class="overflow-control-description custom-checkbox" for="email_agree_terms">I agree to the
                        <a (click)="redirectToTermsAndConditions()" class="text-uppercase oriya-color4" target="blank">terms of use
                        </a>and <a (click)="redirectToPrivacyPolicy()" class="text-uppercase oriya-color4" target="blank">privacy
                          policy</a></label>
                      <label class="error" id="email_terms_check_error"
                        *ngIf="email_agree_terms.touched && email_agree_terms.invalid || email_agree_terms.invalid && userEmailRegisterInvalid.email_agree_terms">Please check the terms of
                        use</label>
                    </div>
                    <div class="text-center margin-bottom-20 margin-top-25 light">
                      <input type="submit" class="text-uppercase btn-oria btn-oria-big font-bold user_register"
                        id="user_register" value="Register">
                      <!-- <input lass="text-uppercase btn-oria font-bold" id="user_register" type="submit" value="Register">    -->
                    </div>
                  </form>
                  <div class="text-center margin-bottom-25 margin-top-0 font-size2 form_bottom margin-top-25">
                    <span class="font-semibold shemaroo-color1">Already a member?</span>
                    <a href="javascript:void(0);" id="login_link" class="inline-block text-uppercase oriya-color4"
                      (click)="showPop('signin_pop', 'registerform')">&nbsp;Login</a>
                  </div>
                  <!-- <div class="margin-bottom-20 margin-top-10 pull-left w-100 form_bottom center-align-content">
                    <a href="/auth/facebook" class="facebook_login"><img src="/assets/facebook_login" class="pull-left margin-right-15">Login with Facebook</a>
                  </div> -->
                </div>
                <div id="MobileNoTab" class="tab-pane fade">
                  <form #mobileRegisterForm="ngForm" (ngSubmit)="onUserMobileRegister(userMobileRegister)">
                    <div class="input-group"
                      [ngClass]="{ 'has-error': register_password.touched && register_password.invalid }">
                      <input type="text" id="mob_register_name" name="mob_register_name" #mob_register_name="ngModel"
                        [(ngModel)]="userMobileRegister.mob_register_name" class="form-control reg_phone_name" value=""
                        required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': mob_register_name.touched && mob_register_name?.value?.length > 0 }">Full
                        Name</span>
                      <label class="error name_error" id="mob_register_name_error"
                        *ngIf="mob_register_name.touched && mob_register_name?.value?.length < 1 || mob_register_name?.value?.length < 1 && userMobileRegisterInvalid.mob_register_name">Name can't be blank</label>
                    </div>
                    <div class="input-group country"
                      [ngClass]="{ 'has-error': user_register_mobile.touched && user_register_mobile.invalid }">
                      <input type="text" name="country_code" class="country_code form-control" value="+91" readonly *ngIf="countryCodeStatus">
                      <input type="number" id="user_register_mobile" name="user_register_mobile" pattern="^[0-9_-]{10}$"
                        #user_register_mobile="ngModel" [(ngModel)]="userMobileRegister.user_register_mobile"
                        class="form-control" (focus)="focusCountryLogin();"
                        (focusout)="focusOutCountryLogin($event)" required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': user_register_mobile.touched && user_register_mobile?.value }">Mobile
                        Number</span>
                      <label class="error" id="mob_register_mobile_error"
                        *ngIf="user_register_mobile.touched && user_register_mobile?.value?.length < 1 || user_register_mobile?.value?.length < 1 && userMobileRegisterInvalid.user_register_mobile">Please enter the
                        Mobile Number</label>
                      <label class="error" id="mob_register_mobile_error"
                        *ngIf="user_register_mobile.invalid && user_register_mobile.touched && user_register_mobile?.value?.length > 0">
                        Please enter 10 digit mobile number
                      </label>
                    </div>
                    <div class="input-group hide_password_group signup_password_us"
                      [ngClass]="{ 'has-error': mob_register_password.touched && mob_register_password.invalid }">
                      <input [type]="showPassword ? 'text' : 'password'" id="mob_register_password" name="mob_register_password"
                        class="form-control reg_phone_pwd" minlength="6" maxlength="20" value=""
                        #mob_register_password="ngModel" [(ngModel)]="userMobileRegister.mob_register_password"
                        required>
                      <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide confirm password"
                        title="hide confirm password" *ngIf="!showPassword" (click)="togglePassword();">
                      <img src="./assets/images/show_password.svg" class="password_toggle show_pwd"
                        alt="show confirm password" title="show confirm password" *ngIf="showPassword"
                        (click)="togglePassword();">
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': mob_register_password.touched && mob_register_password?.value?.length > 0 }">Password</span>
                      <label class="error" id="mob_register_password_error"
                        *ngIf="mob_register_password.touched && mob_register_password?.value?.length < 1 || mob_register_password?.value?.length < 1 && userMobileRegisterInvalid.mob_register_password">Password can't
                        be blank</label>
                      <label class="error" id="mob_register_password_error"
                        *ngIf="mob_register_password.invalid && mob_register_password.touched && mob_register_password?.value?.length > 0">Minimum length
                        of 6 characters is mandatory </label>
                    </div>
                    <div class="input-group custom-controls d-block margin-bottom-15"
                      [ngClass]="{ 'has-error': phone_agree_terms.touched && phone_agree_terms.invalid }">
                      <input type="checkbox" id="phone_agree_terms" name="phone_agree_terms"
                        #phone_agree_terms="ngModel" [(ngModel)]="userMobileRegister.phone_agree_terms" required>
                      <label class="overflow-control-description custom-checkbox" for="phone_agree_terms">I agree to the
                        <a (click)="redirectToTermsAndConditions()" class="text-uppercase oriya-color4" target="blank">terms of use
                        </a>and <a (click)="redirectToPrivacyPolicy()" class="text-uppercase oriya-color4" target="blank">privacy
                          policy</a></label>
                      <label class="error" id="phone_terms_check_error"
                        *ngIf="phone_agree_terms.touched && phone_agree_terms.invalid || phone_agree_terms.invalid && userMobileRegisterInvalid.phone_agree_terms">Please check the terms of
                        use</label>
                    </div>
                    <div class="text-center margin-bottom-20 margin-top-25 light mobile_signup_next" *ngIf="!registerStep2">
                      <input type="button" class="text-uppercase btn-oria btn-oria-big font-bold user_register"
                        id="mob_user_register" [disabled]="mobileRegisterForm.invalid" value="Register" (click)="onUserMobileRegister(userMobileRegister)">
                    </div>
                    <div class="input-group otp_sec" *ngIf="registerStep2">
                      <input type="number" pattern="^[0-9_-]{4}$" id="otp"
                        class="form-control reg_otp" name="registerMobileOTP" #registerMobileOTP="ngModel" [(ngModel)]="userMobileRegister.registerMobileOTP" required>
                      <span class="input-label"
                      [ngClass]="{'input-label-focused': registerMobileOTP.touched && registerMobileOTP?.value > 0 }">OTP</span>
                      <label class="error" id="otp_error" *ngIf="registerMobileOTP.required && registerMobileOTP.touched">Please enter the OTP</label>
                      <label class="error" id="otp_error" *ngIf="registerMobileOTP.inavlid && registerMobileOTP.touched">OTP should be 4 digits</label>
                      <a href="javascript:void(0);" class="oriya-color4 font-sbold" id="register_resend_otp" (click)="onUserMobileResendOTP(userMobileRegister)">Resend</a>
                      <label class="error" id="resend_otp_sucess"></label>
                    </div>
                    <div class="text-center margin-bottom-20 margin-top-25 light otp_sec" *ngIf="registerStep2">
                      <input type="button" class="text-uppercase btn-oria btn-oria-big font-bold"
                        id="reg_otp_verify" value="Register" (click)="onUserMobileRegister2(userMobileRegister)">
                    </div>
                    <div class="text-center margin-bottom-25 margin-top-0 font-size2 form_bottom margin-top-25">
                      <span class="font-semibold shemaroo-color1">Already a member?</span>
                      <a href="javascript:void(0);" id="mob_login_link" class="inline-block text-uppercase oriya-color4"
                        (click)="showPop('signin_pop', 'registerform')">&nbsp;Login</a>
                    </div>
                    <!-- <div class="margin-bottom-20 margin-top-10 pull-left w-100 form_bottom center-align-content">
                    <a href="/auth/facebook" class="facebook_login"><img src="/assets/facebook_login" class="pull-left margin-right-15">Login with Facebook</a>
                  </div>     -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- register_pop ends -->

<!-- <div class="modal" id="forgot_password_pop" *ngIf="selectedPop == 'forgot_password_pop' "
  [ngStyle]="{'display': displayPopStatus}"> -->
<div class="modal" id="forgot_password_pop">
  <div class="modal-dialog">
    <div class="modal-content user_flow">
      <div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
        <h1 class="pull-left margin-bottom-10 font-semibold w-100 text-center page-title">Forgot Password</h1>
        <img src="./assets/images/cancel.svg" alt="" title="" id="fgt_pwd_close" (click)="closePop('forgotpasswordform')">
      </div>
      <div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-0">
            <ul class="nav nav-pills pull-left w-100 forgot_pass_tab_select center-align-content">
              <li><a data-toggle="pill" href="#ForgotPassEmail" class="ForgotPassEmailLink active" id="email" (click)="tabChange('emailforgot')">Email</a>
              </li>
              <li><a data-toggle="pill" href="#ForgotPassMobileNo" class="ForgotPassMobileNoLink" id="mobile" (click)="tabChange('mobileforgot')">Mobile</a>
              </li>
            </ul>
            <div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">
              <p class="margin-bottom-0 font-size2 margin-top-10" id="fp_user_msg" *ngIf="isEmailForgetPasswordSelected">To reset your password, enter your
                registered email address</p>
              <p class="margin-bottom-0 font-size2 margin-top-10" id="fp_user_msg" *ngIf="isMobileForgetPasswordSelected">To reset your password, enter your
                  registered mobile number</p>
              <div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">
                <div class="w-100 all_error padding-left-0 padding-right-0">
                  <label class="error" id="fp_backend_user_errors" *ngIf="errorStatus">{{statusMessage}}</label>
                </div>
                <div id="ForgotPassEmail" class="tab-pane fade in active">
                  <form #emailForgotForm="ngForm" (ngSubmit)="onUserEmailForgotPassword(emailForgotPassword)">
                    <div class="input-group signup_email_us us_show"
                      [ngClass]="{ 'has-error': frgt_pwd_email_id.touched && frgt_pwd_email_id.invalid }">
                      <input type="email" id="frgt_pwd_email_id" name="frgt_pwd_email_id" #frgt_pwd_email_id="ngModel"
                        [(ngModel)]="emailForgotPassword.frgt_pwd_email_id"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-0-.]+$" class="form-control" value=""
                        required>
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': frgt_pwd_email_id.touched && frgt_pwd_email_id?.value?.length > 0 }">Email
                        ID</span>
                      <label class="error" id="frgt_pwd_email_error"
                        *ngIf="frgt_pwd_email_id.touched && frgt_pwd_email_id?.value?.length < 1 || frgt_pwd_email_id?.value?.length < 1 && emailForgotPasswordInvalid.frgt_pwd_email_id">Please enter Email Id</label>
                      <label class="error" id="frgt_pwd_email_error"
                        *ngIf="frgt_pwd_email_id.invalid && frgt_pwd_email_id.touched && frgt_pwd_email_id?.value?.length > 0">Email is invalid</label>
                    </div>
                    <div class="text-center margin-bottom-20 margin-top-25 light">
                      <input type="submit" class="text-uppercase btn-oria btn-oria-big fgt_pwd_sub" value="Confirm">
                    </div>
                  </form>
                </div>
                <div id="ForgotPassMobileNo" class="tab-pane fade">
                  <form #mobileForgotForm="ngForm" (ngSubmit)="onUserMobileForgotPassword(userMobileForgot)">
                    <!-- {{frgt_pwd_mobile_no?.value?.length > 0}} -->
                    <div class="input-group country"
                      [ngClass]="{'has-error': frgt_pwd_mobile_no.touched && frgt_pwd_mobile_no.invalid}">
                      <input type="text" name="country_code" class="form-control country_code" value="+91" readonly *ngIf="countryCodeStatus"> 
                      <input type="number" id="frgt_pwd_mobile_no" name="frgt_pwd_mobile_no"  pattern="^[0-9_-]{10}$"
                        #frgt_pwd_mobile_no="ngModel" [(ngModel)]="userMobileForgot.frgt_pwd_mobile_no"
                        class="form-control" required (focus)="focusCountryLogin();"
                        (focusout)="focusOutCountryLogin($event)">
                      <span class="input-label"
                        [ngClass]="{'input-label-focused': frgt_pwd_mobile_no.touched && frgt_pwd_mobile_no?.value }">Mobile
                        Number</span>
                      <label class="error" id="frgt_pwd_mobile_error"
                        *ngIf="frgt_pwd_mobile_no.touched && frgt_pwd_mobile_no?.value?.length < 1 || frgt_pwd_mobile_no?.value?.length < 1 && userMobileForgotInvalid.frgt_pwd_mobile_no">Please enter Mobile Number</label>
                      <label class="error" id="frgt_pwd_mobile_error"
                        *ngIf="frgt_pwd_mobile_no.invalid && frgt_pwd_mobile_no.touched && frgt_pwd_mobile_no?.value?.length > 0">
                        Please enter 10 digit mobile number
                      </label>
                    </div>
                    <div class="text-center margin-bottom-20 margin-top-25 light fgt_confirm_sec" *ngIf="!otpStep2">
                      <input type="button" class="text-uppercase btn-oria btn-oria-big fgt_pwd_sub" value="Confirm" (click)="onUserMobileForgotPassword(userMobileForgot)">
                    </div>
                    <div class="input-group fgt_opt_sec otp_step2" *ngIf="otpStep2">
                      <input type="number" pattern="^[0-9_-]{4}$" id="frgt_pwd_otp" name="frgt_pwd_otp" class="form-control"
                        value="" #frgt_pwd_otp="ngModel" [(ngModel)]="userMobileForgot.frgt_pwd_otp" required>
                        <span class="input-label"
                        [ngClass]="{'input-label-focused': frgt_pwd_otp.touched && frgt_pwd_otp?.value > 0 }">OTP</span>
                        <label class="error" id="otp_error" *ngIf="frgt_pwd_otp.errors?.required && frgt_pwd_otp.touched">Please enter the OTP</label>
                        <label class="error" id="otp_error" *ngIf="frgt_pwd_otp.errors?.pattern && frgt_pwd_otp.touched">OTP should be 4 digits</label>
                    </div>
                    <div
                      class="text-center margin-bottom-10 margin-top-0 text-center fgt_opt_sec fgt_opt_sec2 otp_step2"
                      *ngIf="otpStep2">
                      <p class="inline margin-bottom-0 margin-right-5">Didn't receive the OTP?</p>
                      <a href="javascript:void(0)" class="oriya-color4" style="text-decoration: underline;"
                        id="fgt_resend_otp" (click)="onMobileForgotPasswordResendOTP(userMobileForgot)">Resend</a>
                    </div>
                    <!-- <div class="ext-center margin-bottom-20 margin-top-25 light fgt_opt_sec" style="display:none;">
                  <a href="javascript:void(0)" class="text-uppercase btn-oria btn-oria-big" id="fgt_resend_otp">Resend</a>
                </div> -->

                    <div class="text-center margin-bottom-20 margin-top-25 light fgt_opt_sec pull-left w-100"
                    *ngIf="otpStep2">
                      <a href="javascript:void(0);"
                        class="text-uppercase btn-oria btn-oria-big fgt_otp_verify"  (click)="onMobileForgotPasswordForOTP(userMobileForgot)">Confirm</a>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- forgot password ends -->

<div class="modal show" id="reset_password_pop" *ngIf="selectedPop == 'reset_password_pop' "
[ngStyle]="{'display': displayPopStatus}">
	<div class="modal-dialog">
		<div class="modal-content user_flow">
		<div class="modal-header border-0 padding-left-28 padding-right-28 padding-top-30">
			<h1 class="pull-left margin-bottom-10 w-100 text-center page-title">Reset Password</h1>
			<img src="./assets/images/cancel.svg" alt="" title="" id="reset_password_close" (click)="closePop()">
		</div>
		
		<div class="modal-body text-left padding-left-28 padding-right-28 padding-top-0">      
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-0">          
					<div class="pull-left w-100 padding-left-0 padding-right-0 margin-top-0">            
						<div class="pull-left w-100 padding-bottom-0 padding-top-45 relative-content">
							<div class="pull-left w-100 all_error padding-left-0 padding-right-0" >
								<label class="error" id="rp_backend_user_errors" *ngIf="errorStatus">{{statusMessage}}</label>
							</div>
            
            <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPassword)">                
              <div id="ResetPassword" class="tab-pane fade in active">
                <div class="input-group hide_password_group signup_password_us">
                  <input [type]="showPassword ? 'text' : 'password'" id="reset_pwd" name="reset_pwd" class="form-control user_password" maxlength="20" value="" required
                  #reset_pwd="ngModel" [(ngModel)]="resetPassword.reset_pwd"> 
                  <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide password" title="hide password" *ngIf="!showPassword" (click)="togglePassword();">
                  <img src="./assets/images/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password" *ngIf="showPassword" (click)="togglePassword();">
                  <span class="input-label" [ngClass]="{'input-label-focused': reset_pwd.touched && reset_pwd?.value?.length > 0 }">Password</span>
                  <label class="error" id="reset_cnfm_pwd_error" *ngIf="reset_pwd.errors?.required && reset_pwd.touched">Password can't be blank</label>
                  <label class="error" id="reset_cnfm_pwd_error" *ngIf="reset_pwd.errors?.minlength && reset_pwd.errors?.maxlength && reset_pwd.touched">Password should be minimum 6 and maximum 20 characters</label>
                </div>
                <div class="input-group hide_password_group signup_password_us">
                  <input [type]="showConfirmPassword ? 'text' : 'password'" id="reset_con_pwd" name="reset_con_pwd" class="form-control user_password" maxlength="20" value="" required
                  #reset_con_pwd="ngModel" [(ngModel)]="resetPassword.reset_con_pwd"> 
                  <img src="./assets/images/hide_password.svg" class="password_toggle" alt="hide password" title="hide password" *ngIf="!showConfirmPassword" (click)="toggleConfirmPassword();">
                  <img src="./assets/images/show_password.svg" class="password_toggle show_pwd" alt="show password" title="show password" *ngIf="showConfirmPassword" (click)="toggleConfirmPassword();">
                  <span class="input-label" [ngClass]="{'input-label-focused': reset_con_pwd.touched && reset_con_pwd?.value?.length > 0 }">Confirm Password</span>
                  <label class="error" id="reset_cnfm_pwd_error" *ngIf="reset_con_pwd.errors?.required && reset_con_pwd.touched">Confirm Password can't be blank</label>
                  <label class="error" id="reset_cnfm_pwd_error" *ngIf="reset_con_pwd.touched && reset_con_pwd.dirty && reset_pwd.value != reset_con_pwd.value">Password and Confirm Password do not match</label>
                </div>   
                <div class="text-center margin-bottom-20 margin-top-25 light">            
                  <input type="submit" class="text-uppercase btn-oria btn-oria-big" id="reset_pwd_sub" value="Reset" [disabled]="resetPasswordForm.invalid">           
                </div>
              </div>
            </form>  
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>   
	</div>
</div>
<!-- reset password ends -->

<div class="modal small-popup" id="logout_pop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h1 class="pull-left margin-bottom-10 font-semibold w-100 text-center page-title">Logout</h1>
        <p class="pull-left w-100 margin-top-15 margin-bottom-25 text-center">
          Are you sure you want to logout?
        </p>
        <div class="pull-left w-100 margin-bottom-20 margin-top-0 center-align-content">
          <a href="javascript:void(0);" class="text-uppercase btn-oria btn-oria-big btn-oria2 pull-left margin-right-15" id="logout_cancel" (click)="closePop('logoutform')">No</a>
          <a href="javascript:void(0);" class="text-uppercase btn-oria btn-oria-big pull-left" id="logout_confirm" (click)="logoutConfirm()">Yes</a>          
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="modal" id="delete_watch">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left padding-left-30 padding-right-30">
        <h1 class="pull-left margin-bottom-10 font-semibold w-100 text-center page-title">Clear Watch History</h1>
        <p class="pull-left w-100 margin-top-15 margin-bottom-25 text-center">
          Are you sure you want to clear your watch history? Your watch history helps us give you better recommendations.
        </p>
        <div class="pull-left w-100 margin-bottom-20 margin-top-0 center-align-content">
          <a href="javascript:void(0);" class="text-uppercase btn-oria btn-oria-big btn-oria2 pull-left margin-right-15 pop_close" (click)="closePop('deleteWatchHistory')">Cancel</a>
          <a href="javascript:void(0);" class="text-uppercase btn-oria btn-oria-big pull-left" id="clear_watch_confirm" (click)="deleteWatchHistory()">Confirm</a>          
        </div>
      </div>   
    </div>
  </div>
</div>


<div class="toster-message-wrap" id="language_sel" *ngIf="langToast">
    <div class="center-align-content">
      <div class="toster-message">
        <img src="./assets/images/tick.svg" alt="" title="">
        <p id="watch_later_message">
          {{language  == 'en' ? 'English' : ''}} {{language  == 'od' ? 'Odia' : ''}} selected successfully
        </p>
      </div>
    </div>
  </div> 
  <div class="toster-message-wrap" id="watch_history_toast" *ngIf="watchHistoryToast">
    <div class="center-align-content">
      <div class="toster-message">
        <img src="./assets/images/tick.svg" alt="" title="">
        <p id="watch_later_message">
          Your watch history is cleared
        </p>
      </div>
    </div>
  </div> 

<!-- <app-episodedetails (fireLogin)="showLogin()" (fireWatchLogin)="showLogin()"></app-episodedetails>

<app-itemdetails (fireLogin)="showLogin()" (fireWatchLogin)="showLogin()"></app-itemdetails> -->