<section class="footer pull-left w-100">
  <div class="container">
    <div class="row">
      <div class="wrapper footer-wrapper">
        
          <footer class="">
            <div class="row">
              <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col- footer-left">
                <nav class="pull-left w-100">
                  <ul class="list-none padding-left-0 margin-bottom-25 pull-left w-100">
                    <li><a routerLink="/about-us">About Tarang plus</a></li>
                    <li><a routerLink="/terms-and-conditions">Terms Of Use</a></li>
                    <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/contact-us" class="feedback_pop1">Contact Us</a></li>
                  </ul>
                </nav>
                <p class="d-none d-xl-block copyright pull-left">Tarang Plus &copy; 2019, All Rights Reserved</p>
              </div>
              <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col- footer-right">
                <div class="pull-left">
                  <p class="margin-bottom-10">Connect with us</p>
                  <a href="https://www.instagram.com/tarangplusodisha/" target="_blank"><img src="./assets/images/instagram.svg" alt="" title=""></a>
                  <a href="https://www.facebook.com/tarangplus" target="_blank"><img src="./assets/images/facebook.svg" alt="" title=""></a>
                  <a href="https://twitter.com/tarangplusodia" target="_blank"><img src="./assets/images/twitter.svg" alt="" title=""></a>								
                  <a href="https://www.youtube.com/channel/UCujyiVE2bbQwzkQX-nGI1yQ" target="_blank"><img src="./assets/images/youtube.svg" alt="" title=""></a>                
                </div>
                <div class="pull-right">
                  <p class="margin-bottom-10">Tarang Plus App</p>
                  <a href="https://play.google.com/store/apps/details?id=com.otl.tarangplus" target="_blank"><img src="./assets/images/play_store.svg" alt="Tarangplus andriod" title="Tarangplus andriod"></a>
                  <a href="https://apps.apple.com/us/app/tarangplus/id1478384536?ls=1" target="_blank"><img src="./assets/images/app_store.svg" class="margin-right-0" alt="Tarangplus iOS app" title="Tarangplus IOS app"></a>
                </div>
              </div>
            
            </div>
              <p class="d-block d-xl-none pull-left w-100 margin-top-20">Tarang Plus &copy; 2019, All Rights Reserved</p>
          </footer>	
        
      </div>	
    </div>
  </div>
  </section>
  