<section class="pull-left w-100 padding-top-80">
  <div class="container" [ngStyle]="{'min-height': contentHeight+'px'}">
    <div class="row">
      <div class="static-page">	
        <div class="wrapper">
          <div class="static-content-bg">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col- margin-bottom-10">
                <ul class="nav nav-pills pull-left w-100 text-center padding-left-5 margin-bottom-15">
                  <li><a data-toggle="pill" href="#planstab" class="active">Plans</a></li>
                  <li><a data-toggle="pill" href="#transtab" class="">View Transactions</a></li>					  
                </ul> 
                <div id="planstab" class="tab-pane fade in active margin-left-5">
                  <ul class="list-none padding-left-0 margin-bottom-20 plans_options margint-top-15 pull-left w-100">
                      <!-- {{allPlans['title']}} -->
                    <li *ngFor="let p of allPlans?.plans; let i = index;">
                      <input type="radio" id="{{p['title'].toLowerCase()}}" name="radio-group" attr.checked="{{i==0 ? 'checked' : ''}}" 
                      class="plan_selction" attr.data-plan-info="{{allPlans['content_id']}}|{{allPlans['catalog_id']}}|{{p['id']}}|{{allPlans['category']}}|{{p['discounted_price']}}|{{p['price']}}|{{p['currency']}}|{{p['currency_symbol']}}">
								    	<label for="{{p['title'].toLowerCase()}}">{{p['title']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span>{{p['currency_symbol']}} {{p['discounted_price']}}</span> --></label>
                    </li>
                  </ul>
                  <div class="eng_plans_desc pull-left w-100" *ngIf="language == 'en'">
                    <h2 class="page-title pull-left w-100 margin-bottom-20">Get TarangPlus Subscription with all this premium features</h2>	
                    <ul class="pull-left w-100 margin-bottom-20 list-none plans_features_list padding-left-0">
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Enjoy seamless ad free content.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Unlimited access to High Definition(HD) streaming videos.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Popular tv channels Odisha TV, Tarang TV, Prarthana TV, Alankar TV and Tarang Music are included.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        All the latest originals and newly created content available.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Be the first to watch all your favourite TV shows/Mega serials with your plan.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Exclusive Jatras/TV Shows/Movie Trailers/HD Movies/TarangPlus original web series and much more.
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        Also experience premium features like Continue Watch where you left and Watch Later.
                      </li>					
                    </ul>
                    <p class="pull-left w-100 font-size2 margin-bottom-25">
                      Note: Select the plan and click <a href="javascript:void(0);" class="oriya-color4">"SUBSCRIBE"</a> to make the payment. The page may redirect to the secured Payment Gateway page.
                    </p>
                  </div>
                  <div class="odia_plans_desc pull-left w-100" *ngIf="language == 'od'">
                      <h2 class="page-title pull-left w-100 margin-bottom-20">ଏହି ସମସ୍ତ ସୁବିଧା ତରଙ୍ଗ ପ୍ଲସର ପ୍ରିମିୟମ୍ ସବସ୍କ୍ରିପ୍ସନ୍ରେ ଉପଲବ୍ଧ</h2>	
                    <ul class="pull-left w-100 margin-bottom-20 list-none plans_features_list padding-left-0">
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ଦେଖନ୍ତୁ ବିନା ବିଜ୍ଞାପନରେ ସଂପୂର୍ଣ୍ଣ ଭିଡିଓ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                          ଉପଭୋଗ କରନ୍ତୁ ସବୁଠୁ ଭଲ କ୍ଵାଲିଟିର (ଏଚ ଡ଼ି) ଭିଡିଓ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ଅତି ଲୋକପ୍ରିୟ ଟିଭି ଚାନେଲ ତଥା, ଓଟିଭି, ତରଙ୍ଗ ଟିଭି,ପ୍ରାର୍ଥନା ଟିଭି ଏବଂ ତରଙ୍ଗ ମ୍ୟୁଜିକ ରୁ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ଆହୁରି ମଧ୍ୟ ପାଇପାରିବେ  ନୂଆ ନୂଆ ପ୍ରସ୍ତୁତି କରାଯାଇଥିବା ଭିନ୍ନ ପ୍ରକାରର ଭିଡିଓ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ନିଜ ପ୍ଳାନ ଅନୁସାରେ ସମସ୍ତ ଟିଭି ଧାରାବାହିକ ଏବଂ କାର୍ଯ୍ୟକ୍ରମ ଗୁଡିକୁ ସର୍ବ ପ୍ରଥମେ ଦେଖନ୍ତୁ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ତା ସହିତ ଅନ୍ୟ କଉଠି ମିଳୁନଥିବା ଯାତ୍ରା,ଟିଭି ସୋ, ସିନେମା ଟ୍ରେଲର, ଭଲ କ୍ଵାଲିଟିର ଭିଡିଓ ଏବଂ ତରଙ୍ଗ ପ୍ଲସର ସ୍ଵତନ୍ତ୍ର ପ୍ରସ୍ତୁତି ୱେବ ସିରିଜ ମଧ୍ୟ ପାଇ ପାରିବେ
                      </li>
                      <li class="pull-left margin-bottom-15">
                        <i class="fa fa-check oriya-color4 margin-right-15" aria-hidden="true"></i>
                        ସବୁଠୁ ଭଲ ସେବା ହେଉଛି କୌଣସି ଭିଡିଓ କୁ ଅଧାରୁ ଛାଡିଥିଲେ ମଧ୍ୟ ପରେ ସେଇଠୁ ଦେଖିପାରିବେ
                      </li>						
                    </ul>
                    <p class="pull-left w-100 font-size2 margin-bottom-25">
                      ଦ୍ରଷ୍ଟବ୍ୟ: ଆପଣଙ୍କ ପ୍ଳାନ ଚୟନ କରନ୍ତୁ ଏବଂ ସବ୍ସକ୍ରାଇବ କରନ୍ତୁ ଏହାର ନିର୍ଦ୍ଧାରିତ ଦେୟ ପାଇଁ | ଏଠାର ଦେୟ ପ୍ରକ୍ରିୟା ସଂପୂର୍ଣ୍ଣ ସୁରକ୍ଷିତ ଅଟେ
                    </p>
                    </div>
                  <a href="javascript:void(0);" (click)="plansSubscribe()" class="oriya-btn text-uppercase subs_plans_btn pull-left margint-top-25 margin-bottom-20" id="plan_sub">subscribe</a>
                  
                </div>
                <div id="transtab" class="tab-pane fade margin-left-5 transactions_tab">
                  <p class="font-sbold font-size3 oriya-color5 trans_text" *ngIf="!activePlans"> No active plans</p>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-uppercase">Date</th>
                          <th class="text-uppercase">Description</th>
                          <th class="text-uppercase">Service Peroid</th>
                          <th class="text-uppercase">amount</th>
                        </tr>	
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of activePlans;">
                          <td>{{p["start_date"] | date: 'd MMM y'}}</td>
                          <td>{{p["subscription_title"]}}({{p['plan_title']}})</td>
                          <td>{{p["start_date"] | date: 'd MMM y'}} to {{p["valid_till"] | date: 'd MMM y'}}</td>
                          <td>{{p['currency']}} {{p['price_charged']}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="" name="cashfree" method="post" class="cashfree_form">
      <input type="hidden" name="signature" value='' id="cashfree_signature">
      <input type="hidden" name="appId" value='' id="cashfree_appid">
      <input type="hidden" name="orderId" value='' id="cashfree_order_id">
      <input type="hidden" name="orderNote" value='' id="cashfree_order_note">
      <input type="hidden" name="orderCurrency" value='' id="cashfree_order_currency">
      <input type="hidden" name="customerName" value='' id="cashfree_cust_name">
      <input type="hidden" name="customerEmail" value='' id="cashfree_cust_email">
      <input type="hidden" name="customerPhone" value='' id="cashfree_cust_phone">
      <input type="hidden" name="orderAmount" value='' id="cashfree_order_amt">
      <input type ="hidden" name="notifyUrl" value='' id="cashfree_notify_url">
      <input type ="hidden" name="returnUrl" value='' id="cashfree_return_url">
    </form>
</section>